run = "python run.py"
entrypoint = "run.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python run.py"]

[env]
PYTHONPATH = "${PYTHONPATH}:${PWD}"
PYTHONUNBUFFERED = "1"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "requirements.txt", "run.py"]

[ports]
8000 = { run = "python server.py" }
8001 = { run = "python bot.py" }

[unitTest]
language = "python3"
